<app-nav [blogInfo]="blogInfo" ></app-nav>
<div class="container">
    <div class="row">

        <div class="col-sm-8 col-sm-offset-2">

            <app-posts></app-posts>
            <!-- <router-outlet></router-outlet> -->

            <!-- <nav>
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </nav> -->

        </div><!-- /.blog-main -->

    </div><!-- /.row -->

</div><!-- /.container -->
<app-footer></app-footer>
